/*
################################
##                            ##
## Author: Guillaume Lequart  ##
## Project: IframeBattlefX    ##
## Created: 02/12/2022        ##
##                            ##
################################
*/

/***********/
/* General */
/***********/

:root{
    --bg-box: rgba(0,0,0,0.9);
    --is-born: rgb(0, 255, 255);
    --is-take-damage: rgb(138, 62, 8);
    --is-shooting: rgb(200, 255, 0);
    --is-dead: red;
    --ammo: rgb(255, 100, 0);
}

html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'New Super Mario Font U', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("https://images5.alphacoders.com/318/318370.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px;
}

main > *{
    padding-left: 10%;
    margin-bottom: 10px;
}

#iFrame, #iFrame > *{
    display: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0px;
}

.flex{
    display: flex;
}

.fullWidth{
    width: 100%;
}

.threeQuarter{
    width: 75%;
}


.halfWidth{
    width: 50%;
}

.oneQuarter{
    width: 25%;
}

.column{
    flex-direction: column;
}

button{
    width: 40px;
    height: 40px;
    cursor: pointer;    
    background: transparent;
    border: 0px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    transition: 0.5s;
}

button:hover, button:active{
    transition: 1s;
}
/******************************/
/* Titles & Infos about Robot */
/******************************/

#header{
    padding-top: 20px;
    max-height: 60px;
    height: 100%;
}

#titleProject, #nameRobot, #titleLegend, #infos, #legendBox,
#robotBox, #actionsBox, #controlModeTitle, #soundTitle{
    background: var(--bg-box);
    border: 1px solid white;
    justify-content: space-around;
    max-height: 50px;
    align-self: safe center;
    text-align: center;
    padding: 10px;
}

#nameAndInfos, #robotAndLegend{
    justify-content: space-between;
}

#nameRobot{
    align-self: flex-start;
}

#infos, #legendBox{
    max-height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    width: 40%;
}

#infos > p{
    border: 1px solid white;
    width: 40%;
}

p.life, p.lifeExtraShort{
    background: linear-gradient(to right, var(--is-dead) 50%,transparent 25%);
}

p.ammo, p.ammoShort, p.ammoExtraShort{
    background: linear-gradient(to right, var(--ammo) 25%,transparent 25%);
}

p.ammoShort, p.ammoExtraShort, p.lifeExtraShort{
    display: none;
}


/*******************/
/* Robot & Legends */
/*******************/

#robot, #legendBox{    
    max-height: 300px;
    justify-content: space-around;
    align-self: safe flex-start;
}

#robotBox, #robotBox > img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    justify-self: safe center;
}

#robotBox{
    border: 2px solid;
}

#robotBox.isMoveToForward{
    animation: isMoveToForward 1s ease 0s 1 normal forwards;
}

#robotBox.isMoveToBackward{
    animation: isMoveToBackward 1s ease 0s 1 normal forwards;
}

#robotBox.isMoveToLeft{
    animation: isMoveToLeft 1s ease 0s 1 normal forwards;
}

#robotBox.isMoveToRight{
    animation: isMoveToRight 1s ease 0s 1 normal forwards;
}

#titleLegend{
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

#legend{
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
}

/*************************/
/* Color for Robot State */
/*************************/

.isBorn, .isAlive{
    box-shadow: 0px 0px 20px var(--is-born);
    border: 1px solid var(--is-born);
    background-color: var(--is-born);
    animation: isBorn 1s linear 0s 1 normal none;
}

.isTakeDamage{
    box-shadow: 0px 0px 20px var(--is-take-damage);
    border: 1px solid var(--is-take-damage);
    background-color: var(--is-take-damage);
    animation: isTakeDamage 1s linear 0s 1 normal none;
}

.isShooting{
    box-shadow: 0px 0px 20px var(--is-shooting);
    border: 1px solid var(--is-shooting);
    background-color: var(--is-shooting);
    animation: isShooting 1s linear 0s 1 normal none;
}

.isDead{
    box-shadow: 0px 0px 20px var(--is-dead);
    border: 1px solid var(--is-dead);
    background-color: var(--is-dead);
    animation: isDead 1s linear 0s 1 normal none;
}

span.isBorn, span.isTakeDamage, span.isShooting, span.isDead, span.isAlive{
    width: 30px;
    height: 30px;
    display: inline-block;
    animation-iteration-count: infinite;
}

#robotBox.isBorn, #robotBox.isAlive{
    border-color: var(--is-born);
}

#robotBox.isTakeDamage{
    border-color: var(--is-take-damage);
}

#robotBox.isDead{
    border-color: var(--is-dead);
}

#robotBox.isShooting{
    border-color: var(--is-shooting);
}

.legend > p{
    display: inline-block;
    position: relative;
    top: -10px;
}

.legendShort{
    display: none;
}

/*****************/
/* Users Actions */
/*****************/

#usersActions{
    justify-content: space-around;
    margin-top: 30px;
}

/*****************/
/*  Controller   */
/*****************/

#controller{
    background: var(--bg-box);
    border: 2px solid #fff;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    justify-content: space-between;
}

#controllerTop, #controllerMiddle, #controllerBottom{
    justify-content: space-between;
}

#controllerBottom{
    justify-content: center;
}

/************************/
/*  Controller Buttons  */
/************************/
/*  turnToRight  */
button#turnToRight{
    background-image: url("../img/controller/curved-arrow/curved-arrow-right-green-icon.svg");
}

button#turnToRight:hover, button#turnToRight:active{
    background-image: url("../img/controller/curved-arrow/curved-arrow-right-red-icon.svg");
}

/*  turnToLeft  */
button#turnToLeft{
    background-image: url("../img/controller/curved-arrow/curved-arrow-left-green-icon.svg");
}

button#turnToLeft:hover, button#turnToLeft:active{
    background-image: url("../img/controller/curved-arrow/curved-arrow-left-red-icon.svg");
}

/*  moveToForward  */
button#moveToForward{
    background-image: url("../img/controller/black-arrow/black-top-arrow-icon.svg");
    position: relative;
    top: 5px;
}

button#moveToForward:hover, button#moveToForward:active{
    background-image: url("../img/controller/line-arrow/line-top-arrow-icon.svg");
}

/*  moveToLeft  */
button#moveToLeft{
    background-image: url("../img/controller/black-arrow/black-left-arrow-icon.svg");
    position: relative;
    left: 5px;
}

button#moveToLeft:hover, button#moveToLeft:active{
    background-image: url("../img/controller/line-arrow/line-left-arrow-icon.svg");
}

/*  moveToRight  */
button#moveToRight{
    background-image: url("../img/controller/black-arrow/black-right-arrow-icon.svg");
    position: relative;
    right: 5px;
}

button#moveToRight:hover, button#moveToRight:active{
    background-image: url("../img/controller/line-arrow/line-right-arrow-icon.svg");
}

/*  moveToBackward  */
button#moveToBackward{
    background-image: url("../img/controller/black-arrow/black-bottom-arrow-icon.svg");
    position: relative;
    bottom: 5px;
}

button#moveToBackward:hover, button#moveToBackward:active{
    background-image: url("../img/controller/line-arrow/line-bottom-arrow-icon.svg");
}

/*********************/
/*  Actions Buttons  */
/*********************/

#actions{
    max-height: 100px;
}

/* Actions Title */
#soundTitle, #controlModeTitle{
    border-bottom: 0px;
    min-width: 90px;
}

#controlModeTitle{
    height: 19px;
    border-right: 0px;
}

/* Actions Box */
#actionsBox{
    align-items: center;
    padding: 10px 5px;
}

#controlMode, #controlSound{
    min-width: 110px;
}

/*  modeAutoOn  */
button#modeAutoOn{
    background-image: url("../img/actions/modeAuto/turn-on-icon.svg");
}

button#modeAutoOn:hover, button#modeAutoOn:active{
    background-image: url("../img/actions/modeAuto/turn-off-hover-icon.svg");
}

/*  modeAutoOff  */
button#modeAutoOff{
    background-image: url("../img/actions/modeAuto/turn-off-icon.svg");
}

button#modeAutoOff:hover, button#modeAutoOff:active{
    background-image: url("../img/actions/modeAuto/turn-on-hover-icon.svg");
}

/* souindOn & sound Off */
button#soundOn, button#soundOff{
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background-size: 37px;
    background-color: white;
    box-shadow: 0px 0px 2px white;
}

/*  soundOn & soundOff (hover & active) */
button#soundOn, button#soundOff:hover, button#soundOff:active{
    background-image: url("../img/actions/sound/sound-on-icon.svg");
    background-color: white;
    border-color: black;
}

/*  soundOff & soundOn (hover & active) */
button#soundOff, button#soundOn:hover, button#soundOn:active{
    background-image: url("../img/actions/sound/sound-off-icon.svg");
}

/*  shooting  */
button#shooting{
    border: 1px solid black;
    background: white;
    color: black;
    font-weight: bold;
    width: 100px;
    box-shadow: 0px 0px 2px white;
}

button#soundOff, button#soundOn:hover, button#soundOn:active,
button#shooting:hover, button#shooting:active{
    background-color: black;
    border-color: white;
    color: white;
}

button.disabled{
    display: none;
}

button.enabled{
    display: inline-block;
}

/*********************/
/*  Supervisor Mode  */
/*********************/

@media (max-height: 420px),
        (max-width: 460px){

    body > *{
        display: none;
    }

    html, body {
        display: flex;
        background: none;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0px;
        padding: 0px;
        align-content: center;
        flex-direction: column;
    }

    body > #iFrame{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }

    main{
        width: 0;
        height: 0;
    }

    #iFrame > img{
        width: 100%;
        height: 90%;
        display: flex;
    }

    #iFrameInfos{
        width: 100%;
        height: 10%;
    }

    #iFrame > div, #iFrame > div > progress{
        display: flex;
        width: 75%;
    }

    #iFrame > div > p.ammo, #iFrame > div > p.life{
        display: inline-block;
        width: 50%;
        height: 20px;
        font-size: 12px;
        text-align: center;
        color: white;
        text-shadow: 0px 0px 10px var(--is-dead);
        line-height: 20px;
        border: 1px solid var(--is-dead);
        border-left: 0px;
    }

    #iframe > div > p.ammo{
        text-shadow: 0px 0px 10px var(--ammo);
        border-color: var(--ammo);
    }
}

/*************************/
/*  Responsive by Height */
/*************************/

@media (max-height: 570px)
        and (min-height: 420px){

    /* Titles */
    #header{
        display: none;
    }

    #nameAndInfos{
        margin-top: 10px;
    }

    /* Controller */
    #controller{
        width: 125px;
        height: 125px;
    }

    button#turnToLeft, button#turnToRight, button#moveToForward, 
    button#moveToLeft, button#moveToRight, button#moveToBackward{
        width: 30px;
        height: 30px;
        background-size: 30px;
    }
    p.ammo{
        display: none;
    }

    p.ammoShort{
        display: block;
    }

    /* Robot */
    #robotBox{
        width: 150px;
        height: 150px;
    }

    /* Legend */
    #legend{
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    span.isBorn, span.isTakeDamage, span.isShooting, span.isDead{
        width: 15px;
        height: 15px;
    }

    .isShooting{
        animation: isShootingResponsive 1s linear 0s 1 normal none;
    }

    .legend{
        height: 25px;
    }

    .legend > p{
        font-size: 12px;
        top: -4px;
    }

}

@media (max-height: 670px) and (min-height: 570px){

    /* Titles */
    #header{
        display: none;
    }

    #nameAndInfos{
        margin-top: 10px;
    }

    /* Controller */
    #controller{
        width: 125px;
        height: 125px;
    }

    button#turnToLeft, button#turnToRight, button#moveToForward, 
    button#moveToLeft, button#moveToRight, button#moveToBackward{
        width: 30px;
        height: 30px;
        background-size: 30px;
    }

    .isShooting{
        animation: isShootingResponsive 1s linear 0s 1 normal none;
    }
}

@media (max-height: 720px)
        and (min-height: 670px){

    /* Controller */
    #controller{
        width: 150px;
        height: 150px;
    }

    button#turnToLeft, button#turnToRight, button#moveToForward, 
    button#moveToLeft, button#moveToRight, button#moveToBackward{
        width: 30px;
        height: 30px;
        background-size: 30px;
    }
}

/************************/
/*  Responsive by Width */
/************************/

@media (max-width: 750px)
        and (min-width: 440px){

    /* Titles */
    #header{
        display: none;
    }

    #nameAndInfos{
        margin-top: 10px;
    }

    #infos > p{
        font-size: 12px;
        height: 15px;
    }

    p.ammo, p.ammoShort, p.life{
        display: none;
    }

    p.lifeExtraShort, p.ammoExtraShort{
        display: block;
    }

    /* Robot */
    #robotBox{
        width: 150px;
        height: 150px;
    }

    /* Legend */
    #legend{
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    span.isBorn, span.isTakeDamage, span.isShooting, span.isDead{
        width: 15px;
        height: 15px;
    }

    .isShooting{
        animation: isShootingResponsive 1s linear 0s 1 normal none;
    }

    .legend, .legendShort{
        height: 25px;
    }

    .legend > p, .legendShort > p{
        font-size: 10px;
        top: -4px;
    }

    .legendLarge{
        display: none;
    }

    .legendShort{
        display: block;
    }

    /* Controller */
    #controller{
        width: 125px;
        height: 125px;
    }

    button#turnToLeft, button#turnToRight, button#moveToForward, 
    button#moveToLeft, button#moveToRight, button#moveToBackward{
        width: 30px;
        height: 30px;
        background-size: 30px;
    }

    /* Users Actions */
    #actionsTitle{
        display: none;
    }

    #controlMode, #controlSound{
        min-width: 50px;
    }
}

@media (max-width: 850px)
        and (min-width: 750px){

    /* Titles */
    #header{
        display: none;
    }

    #nameAndInfos{
        margin-top: 10px;
    }

    #infos > p{
        font-size: 15px;
        height: 20px;
    }

    p.ammo{
        display: none;
    }

    p.ammoShort{
        display: block;
    }

    /* Robot */
    #robotBox{
        width: 150px;
        height: 150px;
    }

    /* Legend */
    #legend{
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    
    span.isBorn, span.isTakeDamage, span.isShooting, span.isDead{
        width: 15px;
        height: 15px;
    }

    .isShooting{
        animation: isShootingResponsive 1s linear 0s 1 normal none;
    }

    .legend{
        height: 25px;
    }

    .legend > p{
        font-size: 12px;
        top: -4px;
    }

    /* Controller */
    #controller{
        width: 125px;
        height: 125px;
    }

    button#turnToLeft, button#turnToRight, button#moveToForward, 
    button#moveToLeft, button#moveToRight, button#moveToBackward{
        width: 30px;
        height: 30px;
        background-size: 30px;
    }

    /* Users Actions */
    #actionsTitle{
        display: none;
    }

    #controlMode, #controlSound{
        min-width: 50px;
    }
}

/************************/
/*  Animations by State */
/************************/
/* Robot is Born */
@keyframes isBorn {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

/* Robot is Take Damage */
@keyframes isTakeDamage {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 0;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

/* Robot is Shooting */
@keyframes isShooting {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes isTakeDamage {
	0%,
	100% {
		transform: rotate(0deg);
		transform-origin: 50% 0;
	}

	10% {
		transform: rotate(2deg);
	}

	20%,
	40%,
	60% {
		transform: rotate(-4deg);
	}

	30%,
	50%,
	70% {
		transform: rotate(4deg);
	}

	80% {
		transform: rotate(-2deg);
	}

	90% {
		transform: rotate(2deg);
	}
}

/* Robot is Shooting */
@keyframes isShootingResponsive {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(16px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(12px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(9px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

/* Robot is Dead */
@keyframes isDead {
	0% {
		opacity: 1;
		transform: rotate(0) scale(1);
	}

	100% {
		opacity: 0;
		transform: rotate(-540deg) scale(0);
	}
}

/*********************************/
/*  Animations by where Robot go */
/*********************************/
/* Move To Backward */
@keyframes isMoveToBackward {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Move To Right */
@keyframes isMoveToRight {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* Move To Left */
@keyframes isMoveToLeft {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* Move To Forward */
@keyframes isMoveToForward {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}