/*
################################
##                            ##
## Author: Guillaume Lequart  ##
## Project: IframeBattlefX    ##
## Created: 02/12/2022        ##
##                            ##
################################
*/

/********/
/* Main */
/********/

html{
    height: 100%;
    width: 100%;
    background-image: url("https://images5.alphacoders.com/318/318370.jpg");
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    /*
    background-image: url("https://images5.alphacoders.com/318/318370.jpg");
}

main{*/
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
}
/*
body  > img {
    width: 100vmin;
    height: 100vmin;
}
*/
.fullWidth{
    width: 100%;
}

.fullHeight{
    height: 100%;
}

.half{
    width: 50%;
}

.flex{
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.flex5{
    width: 5%;
}

.flex25{
    width: 25%;
}

.flex30{
    width: 30%;
}

img.left, img.right{
    width: 40px;
    height: 40px;
}

/*******************/
/* Titles & States */
/*******************/

.centerTitle{
    display: flex;
    width: 100%;
    margin: 30px 0px;
}

.title, #infosRobot, #legend{
    border: 1px white solid;
    background: rgba(0, 0, 0, 0.7);
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.title{
    padding: 20px;
    height: 50px;
}

.title > h1, .title > h2, #legend > h2{
    width: 100%;
    text-shadow: 3px 3px black;
}

#info{
    width: 100%;
    display: inline;
    padding: 5px;
}

.colorLegend{
    display: block;
    width: 100%;
    padding: 5px;

}

#life, #ammo{
    width: 100%;
    padding: 5px;
}

#life > span, #ammo > span{
    font-size: 14px;
    width: 100%;
    display: block;
}

/******************/
/* Robot & Legend */
/******************/

#main{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

#robot{
    width: 60%;
    height: 100%;
    flex-direction: row;
    border: 2px solid red;
    box-shadow: 1px 1px red;
    background: rgba(0, 0,0,0.7);
    padding: 10px;
}

#robot.state-online{
    border-color: rgb(0, 206, 0);
    box-shadow: 1px 1px rgb(0, 206, 0);
}

#robot.state-takeDamage{
    border-color: rgb(255, 153, 0);
    box-shadow: 1px 1px rgb(255, 153, 0);
}

#robot.state-fire{
    border-color: rgb(192, 21, 152);
    box-shadow: 1px 1px rgb(192, 21, 152);
}

#robot.state-dead{
    border-color: rgb(199, 0, 0);
    box-shadow: 1px 1px rgb(199, 0, 0);
}

#robot > img{
    width: 100%;
    height: 100%;
}

#infos{
    border: 1px solid #fff;
    background: rgba(0,0,0,0.7);
    width: 35%;
    height: 100%;
}